env
# venv
# old*
# creds/token.json
# creds/client_secrets.json
# creds/old*
# creds/client_id.json
# images
# static/images
# static/album.json
# 2025*
# album.json


# Google OAuth / credentials
creds/old_scripts
old/
**/token.json
**/client_secret*.json
**/*secret*.json

# Env
.env*

# Python virtual environments
venv/
.env/
.env*

# Bytecode
__pycache__/
*.pyc

# Credentials (extra safety)
# creds/
old/
**/token.json
**/client_secret*.json

